body {
    background-image: url(../img/Фон\ 1\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}
button {
    padding: 0;
}
p {
    margin: 0;
}
header {
    background-color: rgba(0, 0, 0, 0.40);
    padding-top: 18px;
    padding-bottom: 18px;
}
.header-wrap {
    display: flex;
    justify-content: space-around;
}
.logo {
    display: flex;
    flex-grow: 1;
    padding-left: 80px;
}
.nav-log-bar {
    display: flex;
    align-items: center;
    padding-right: 80px;
}
a {
    color: #FFF;
    font-family: Ubuntu;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    text-decoration: none;
}
.welcome-text, .log-in-text, .log-menu-or, .sign-up-text {
    color: #FFF;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}
.log-in-text, .sign-up-text {
    text-decoration: none;
}
.log-in-text {
    padding-right: 4px;
}
.nav-items {
    display: flex;
    gap: 26px;
    padding-right: 25px;
}
.log-menu {
    padding-left: 27px;
    border-left: 1px solid lightgrey;
}
main {
    height: 770px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-wrap {
    width: 444px;
    height: 584px;
    background-color: #FFFFFF;
}
.form-content {
    padding-left: 60px;
    padding-right: 60px;
}
.form-login-signup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: 31px;
    padding-bottom: 15px;
}
.form-signup-button {
    background-color: transparent;
    border: none;
    color: #434343;
    text-align: center;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.form-login-button {
    background-color: transparent;
    border: none;
    color: #3CB878;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}
.form-login-signup::after {
    content: "";
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    left: -60px;
    top: 33px;
}
.buttons {
    display: flex;
    gap: 4px;
}
button.facebook {
    background-color: #305DB8;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.facebook-icon {
    border-right: 1px solid rgba(10, 22, 47, 0.1);
    padding-right: 13px;
    padding-left: 11px;
}
.facebook-text {
    padding: 17px 22px 17px 18px;
}
.facebook-text-item, .gmail-text-item {
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}
button.gmail {
    background-color: #DF4A32;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.gmail-icon {
    border-right: 1px solid rgba(43, 13, 9, 0.1);
    padding-right: 7px;
    padding-left: 12px;
}
.gmail-text {
padding: 17px 27px 17px 30px;
}
.or-item {
    display: flex;
    justify-content: center;
    padding-top: 31px;
    position: relative;
    padding-bottom: 12px;
}
.or-text {
    color: #848484;
        font-family: Ubuntu;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
}

.or-text::after {
    content: "";
width: 152px;
height: 1px;
background-color: #F2F2F2;
position: absolute;
    left: 0;
    top: 39px;
}
.or-text::before {
    content: "";
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    position: absolute;
    right: 0;
    top: 39px;
}
form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
input {
    width: 100%;
        height: 44px;
        padding: 0;
        margin: 0;
        border: 1px solid #F2F2F2;
        border-radius: 4px;
        padding-left: 20px;
        color: #BEBEBE;
        font-family: Ubuntu;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
}
.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
input.checkbox {
    width: 20px;
    height: 20px;
}
input[type=checkbox] {
    accent-color: #fff
}
.checkbox-bar {
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 20px;
}
p.checkbox-text {
    color: #434343;
        font-family: Ubuntu;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        padding-left: 8px;
}
.create-acc {
    background-color: rgba(60, 184, 120, 0.80);
    padding-top: 16px;
    padding-bottom: 16px;
    border: none;
    border-radius: 4px;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}
input[type="text"]:focus {
box-shadow: -1px 5px 15px -5px rgba(0, 0, 0, 0.75);
border: none;
outline: none;
color: black;
}

input[type="password"]:focus {
    box-shadow: -1px 5px 15px -5px rgba(0, 0, 0, 0.75);
    border: none;
    outline: none;
    color: black;
}
input[type="email"]:focus {
    box-shadow: -1px 5px 15px -5px rgba(0, 0, 0, 0.75);
    border: none;
    outline: none;
    color: black;
}

.terms-text {
    color: #3CB878;
    padding-left: 8px;
}

#journey-text:hover {
    transition: 0.25s ease-in-out;
    color: #236d47;
}
#log-in:hover {
    transition: 0.25s ease-in-out;
    color: #236d47;
}
#sign-up:hover {
    transition: 0.25s ease-in-out;
    color: #236d47;
}
#welcome:hover {
    transition: 0.25s ease-in-out;
    color: #969696
}
#or:hover {
    transition: 0.25s ease-in-out;
    color: #969696;
}
.green:hover {
    transition: 0.25s ease-in-out;
    fill: #236d47;
}
.facebook:hover {
    transition: 0.25s ease-in-out;
background-color: #022263;
}
.gmail:hover {
    transition: 0.25s ease-in-out;
    background-color: #AB1F09;
}
.create-acc:hover {
    transition: 0.25s ease-in-out;
    background-color: #01813F;
}
.terms-text:hover {
    transition: 0.25s ease-in-out;
    color: #01813F;
text-decoration: underline;
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + p {
    position: relative;
    padding-left: 30px;
}
input[type="checkbox"] + p::before {
    content: "";
    position: absolute;
    transform: translateY(-50%);
    left: 0;
    top: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid #F2F2F2;
    border-radius: 3px;
}
input[type="checkbox"]:checked +p::before {
    content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none"%3E%3Cpath d="M1 7.5L7 14.5L15 1" stroke="%233CB878" stroke-width="2"/%3E%3C/svg%3E');

}